.main-container {
  width: 33.42666666666rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.line {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.list {
  list-style: none;
  font-size: 1.6rem;
  line-height: 30px;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 1000px) {
  .main-container {
    width: 60rem;
  }
  .skills-container {
    justify-content: space-evenly;
  }
}
@media (max-width: 600px) {
  .main-container {
    max-width: 35rem;
  }
}
