.main-header {
  height: 45rem;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
}

.main-header-image-background {
  width: 110rem;
  height: 25rem;
  position: absolute;
  overflow: hidden;
}

.main-header-image {
  display: block;
  width: 100%;
  transform: translateY(-730px);
  position: absolute;
}

.heading-information {
  position: relative;
  /* left: 4.5rem; */
  padding-left: 2rem;
  top: 8rem;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60fr 20fr 20fr;

  justify-content: center;
}
.heading-left {
  grid-row: 1/-1;
}
.contacts {
  grid-row: 2/-1;
  align-self: flex-end;
}
.contacts-detail {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
}
.contacts-icon {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.9);
}

.image {
  display: block;
  width: 24rem;
  transform: translate(5px, 5px);
  border-radius: 50%;
}

.image-background {
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  width: 25rem;
  height: 25rem;
}

.heading-primary {
  font-size: 3.6rem;
  /* letter-spacing: -3px; */
  font-weight: 600;
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
  justify-self: flex-start;
  color: rgba(0, 0, 0, 0.9);
}
.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  justify-self: flex-start;
}

@media (max-width: 1000px) {
  .main-header {
    /* height: 50rem; */
  }

  .heading-information {
    grid-template-columns: 2fr 1.5fr;
  }
  .contacts {
    grid-row: 2/-1;
    align-self: flex-end;
  }
}

@media (max-width: 600px) {
  .main-header {
    height: 50.5rem;
  }
  .heading-information {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: flex-start;
    padding: 0 3rem;
    width: 100%;
  }
  .heading-image {
    padding-left: 2rem;
  }

  .contacts {
    grid-column: 1;
    grid-row: -1;
  }
  .heading-left {
    grid-column: 1;
  }
}
