.side-nav {
  list-style: none;
  padding-left: 0px;
}

.side-nav-bar {
  opacity: 0;
  position: fixed;
  min-width: 20rem;
  max-width: 30rem;
  padding-top: 6rem;
  padding-bottom: 32rem;
  top: 0;
  left: 0;
}

@media (min-width: 1460px) {
  .side-nav-bar {
    opacity: 100;
  }
}
