.container {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 100rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.top {
  margin-top: 1.5rem;
}

@media (max-width: 1000px) {
  .container {
    max-width: 60rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 35rem;
  }
}
